-
    const categories = [
        {
            'url':'/personas',
            'text':'Personas'
        },
        {
            'url':'/negocios',
            'text':'Negocios'
        },
        {
            'url':'/empresas',
            'text':'Empresas'
        },
    ]

-
    const audiovisual =  [
       {    
            url: 'https://www.claromusica.com/landing',
            text: 'Claro Música',
            alt: 'Claro Música',
            src : 'https://static.claro.com.pe/img/icono-musica.svg'
       },
              {    
            url: 'https://www.clarovideo.com/peru/homeuser',
            text: 'Claro Video',
            alt: 'Claro Video',
            src : 'https://static.claro.com.pe/img/icono-video.svg'
       } 
    ]

- const listHeader = ['Móbil', 'Hogar', 'Beneficios','¿Necesitas ayuda?']

-
    const socialNetwork = [
        {
            'url':'https://www.facebook.com/AmericaMovilPeruSAC',
            'img':'https://static.claro.com.pe/img/fb.svg',
            'alt': 'Facebook'
        },
        {
            'url':'https://www.instagram.com/claroperu/',
            'img':'https://static.claro.com.pe/img/ig.svg',
            'alt': 'Instagram'
        },
        {
            'url':'https://twitter.com/claroperu',
            'img':'https://static.claro.com.pe/img/tw.svg',
            'alt': 'Twitter'
        },
        {
            'url':'https://www.youtube.com/claroperu',
            'img':'https://static.claro.com.pe/img/yt.svg',
            'alt': 'Facebook'
        },
    ]

-
    const itemsFooter = [
        {
            title: 'DE UTILIDAD',
            items: ['Consulta de lineas', 'Mide tu velocidad', 'Liberacion de tu equipo móbil', 'Comprobantes electrónicos', 'Solicitudes en línea', 'Llamada por llamada']
        },
                {
            title: 'NOS HACEMOS CARGO',
            items: ['Devolucion por interrupciones', 'Consulta de reclamos', 'Atencion de reclamos', 'Libro de reclamaciones']
        },
                {
            title: 'INSTITUCIONAL',
            items: ['Sobre nosotros','Sostenibilidad', 'Trabaja con nosotros', 'Trabajos en mantenimiento', 'Centro de prensa']
        },
    ]

-
    const itemSecond = [
        {
            url:"#",
            text:'Terminos y condiciones de la web'
        },
        {
            url:"#",
            text:'Condiciones de garantia de equipos'
        },
        {
            url:"#",
            text:'Ley de proteccion de datos personales'
        },
        {
            url:"#",
            text:'Derechos de ARCO'
        },
        {
            url:"#",
            text:'Sistema de consultas tarifarias'
        },
        {
            url:"#",
            text:'Neutralidad de Red'
        },
        {
            url:"#",
            text:'Sistema de Consulta de Deudas'
        },
        {
            url:"#",
            text:'Informacion abonados y usuarios'
        },
    ]

-
    const cards = [
        {
            title: 'Fibra optica que une América Latina',
            url:"#",
            img:""
        },
        {
            title: 'Miles de KM de cables submarinos para mantenerte conectado',
            url:"#",
            img:""
        },
        {
            title: 'Tenemos la red satélital más amplia de América Latina ',
            url:"#",
            img:""
        },
        {
            title: 'Siempre alertas monitoreando los 365 días del año',
            url:"#",
            img:""
        },
        {
            title: 'Nuestra cuadrilla te cuidan de la mejor manera',
            url:"#",
            img:""
        },
        {
            title: 'Apps de autogestión propias para ti',
            url:"#",
            img:""
        }
    ]

-
    const plans = [
        {
            name:'2 Play Fibra óptica 30Mbps',
            title: 'Precio primer mes',
            img:'/img/plan1.png',
            price: 'S/ 60',
            subtitle:'Precio mensual: S/ 70',
            vDown: {
                name:'Velocidad de descarga ilimitada',
                vel: '30 Mbps'
            },
            vUp:{
                name:'Velocidad máxima de subida',
                vel: '10 Mbps'
            },
            call:{
                name:'Llamadas',
                description:'Ilimitadas a Claro + 100min nivel nacional'
            }
        },
        {
            name:'2 Play Fibra óptica 30Mbps',
            title: 'Precio primer mes',
            img:'/img/plan2.png',
            price: 'S/ 89',
            subtitle:'Precio mensual: S/ 100',
            vDown: {
                name:'Velocidad de descarga ilimitada',
                vel: '100 Mbps'
            },
            vUp:{
                name:'Router con Wi-Fi',
                vel: '30 Mbps'
            },
            call:{
                name:'Llamadas',
                description:'Ilimitadas a Claro + 100min nivel nacional'
            }
        },
        {
            name:'2 Play Fibra óptica 30Mbps',
            title: 'Precio primer mes',
            img:'/img/plan3.png',
            price: 'S/ 119',
            subtitle:'Precio mensual: S/ 145',
            vDown: {
                name:'Velocidad de descarga ilimitada',
                vel: '30 Mbps'
            },
            vUp:{
                name:'TV Avanzado',
                vel: '111 canales + 1 '
            },
            call:{
                name:'Llamadas',
                description:'Ilimitadas a Claro + 100min nivel nacional'
            }
        }
    ]